.container-autentic{
  border: solid thin red;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background-color: #f1f1f1;
}



.container-form {
    display: flex;
    border-radius: 20px;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.418);
    height: 360px;
    max-width: 800px;
    transition: all 1s ease;
    margin: 10px;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    
  }
  
  .information {
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #FDA22D;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .info-childs {
    width: 100%;
    padding: 0px;
  }
  
  .info-childs h2 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .hide {
    display: none; /* En React no usamos "hide", sino display: none */
  }
  
  .info-childs p {
    margin: 15px 0;
    color: #000;
  }
  
  .info-childs input {
    background-color: transparent;
    outline: none;
    border: solid 2px #FF571E;
    border-radius: 20px;
    padding: 10px 20px;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .info-childs input:hover {
    background-color: #FF571E;
    border: none;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .form-information {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: #f8f8f8;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .form-information-childs {
    padding: 0 30px;
  }
  
  .form-information-childs h2 {
    color: #333;
    font-size: 2rem;
  }
  
  .form-information-childs p {
    color: #555;
  }
  
  form {
    margin: 30px 0 0 0;
  }
  
  form label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  form label input {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
  }
  
  form label i {
    color: #a7a7a7;
  }
  
  form input[type="submit"] {
    background-color: #FDA22D;
    color: #000;
    border-radius: 20px;
    border: solid 2px #FF571E;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  form input[type="submit"]:hover {
    background-color: #FF571E;
    color: #fff;
  }
  